*.db
*.pyc
.DS_Store
*.app
.svn
*~
site_media
*.tar.gz
*.swp
.sass-cache
chromedriver.log
junit.xml
*.mmdb

.pytest_cache/
reports/*
artifacts/*
staticfiles/*
build/
env/
docs/_build/
docs/auto_modules.rst
reports/
.coverage
settings/local.py
mobile/
bin/dumps/

static/js-build/

static/css/components/

.project
.pydevproject
atlassian-ide-plugin.xml
*.iml
*.ipynb
.ipynb_checkpoints
.vscode/settings.json
.vscode/tags
.vscode/chrome
.vscode/.ropeproject
.venv
.python-version

# Frontend tools
npm-debug.log

test-reports.xml

node_modules/
tests/errorShots
tests/screenshots
emails-log/

static/styleguide/
coverage/

/.idea/*
!/.idea/runConfigurations/